---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Informacion general sobre mi"
	pubDate={new Date('Marzo 2025')}
	heroImage="/about-me.jpg"
>
	<p>
Mi nombre es Mario Bernal, A.K.A MABA ROD o pa los compas el mabita. Soy una persona muy polifacetica, estudiante de ingeniería, músico y programador. Soy oriundo del pueblo de <b>Ensenada </b> , Baja California, México. Les doy la bienvenida a mi pequeño rincón de internet en donde les comparto mis ideas.
	</p>

</Layout>
