---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍💻 BIENVENIDOS!</h1>
			<p>
      
      </p>

      <p>Bienvenidos al <b>mabablog</b>, me presento racita, soy Mario Bernal A.K.A el Maba. Soy un estudiante de ingeniería electronica, músico, programador, y sobre todo un nerdo idiota que probablemente tenga deficit de atención. En general soy una persona muy random que le gusta escribir historias, ensayos o simples disertaciones sobre temas de poco o nulo inetres para el lector comun, pero que sin embargo me interes compartir mis ideas.
			</p>
				</main>
		<Footer />
	</body>
</html>
